@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Nunito', sans-serif
}

:root {
    --bg-color: #191f36;
    --snd-bg-color: #262840;
    --text-color: #fff;
    --main-color: #5982F4;
}

html {
    font-size: 50.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 700;
    cursor: default;
}

.navbar a {
    font-size: 2rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 700;
}

.navbar a:hover,
.navbar a.active:hover {
    color: #5982F4;
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

.home {
    display: flex;
    justify-content: start;
     padding: 11 8% 6rem 8%;  /* Header ke niche perfect gap */
    min-height: 100vh;         /* Full screen height */
    margin: 0;                 /* Extra margin remove */
    gap: 5rem;  
    align-items: center;
    /* gap: 60rem; */
    /* margin-top: 15rem;
    margin-left: 40px;
    height: 60vh; */
}

.home-content h3 {
    font-size: 3.2rem;
    font-weight: 700;
}

.home-content {
    width: 90rem;
    margin-left: 40px;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 2rem;
}

span {
    color: var(--main-color);
}

.home-content h1 {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-img img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    animation: floatimage cubic-bezier(0.39, 0.575, 0.565, 1) ease-in-out infinite;
    display: flex;
}

.home-img {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


.home-content p {
    font-size: 1.6rem;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid #5982F4;
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
}



.social-media a:hover {
    background: var(--main-color);
    color: var(--snd-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}



.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: white;
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
    cursor: pointer;
}



.btn:hover {
    box-shadow: none;
}


/******************************  ABOUT SECTION ******************************/


.about {
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: var(--snd-bg-color);
}


.about-img img {
    width: 20vw;
    margin-right: 9rem;
}

.about-img img {
    filter: drop-shadow(0 0 5rem #5982F4);
    border-radius: 30px;
}


.heading {
    text-align: center;
    font-size: 4.5rem;
}


.about-content h2 {
    text-align: left;
    line-height: 1.2;
}


.about-content h3 {
    font-size: 2.6rem;
}


.about-content p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}


/******************************  SKILL SECTION ******************************/

.main-text {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 5rem;
}

.skill-main {
    align-items: center;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 70px;
}

.skill-bar {
    margin-bottom: 8rem;
}

.skill-main h3 {
    margin-bottom: 5rem;
    font-size: white;
    text-align: center;
    font-size: 3rem;
}

.skill-left .skill-bar .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.skill-left .skill-bar .bar {
    width: 100%;
    height: 5px;
    background-color: var(--snd-bg-color);
    border-radius: 25px;
    margin-top: 10px;
    position: relative;
}


.skill-bar .bar span {
    width: 50%;
    height: 100%;
    position: absolute;
    left: 0;
    background: aquamarine;
    border-radius: 25px;
    filter: drop-shadow(0 0 0.5rem #5982F4)
}

.info p {
    font-size: 2rem;
}

.skill-bar .bar .html {
    width: 80%;
    animation: html 2s;
}

.skill-bar .bar .css {
    width: 90%;
    animation: css 3s;
}

.skill-bar .bar .javascript {
    width: 70%;
    animation: javascript 4s;
}

.skill-bar .bar .react {
    width: 80%;
    animation: react 2s;
}


@keyframes html {
    0% {
        width: 0%
    }

    100% {
        width: 80%
    }
}

@keyframes css {
    0% {
        width: 0%
    }

    100% {
        width: 90%
    }
}

@keyframes javascript {
    0% {
        width: 0%
    }

    100% {
        width: 70%
    }
}

@keyframes react {
    0% {
        width: 0%
    }

    100% {
        width: 55%
    }
}


/******************************  SERVICES SECTION ******************************/


.services {
    background: var(--snd-bg-color);
}

.services h2 {
    margin-bottom: 5rem;
}

.services-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    height: 60vh;
}

.services-container .services-box {
    flex: 1 1 30rem;
    background: var(--bg-color);
    padding: 3re 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--bg-color);
    transition: .5s ease;
    height: 31rem;

}


.services-container .services-box:hover {
    border-color: var(--main-color);
    transform: scale(1.0);
}

.services-box i {
    font-size: 7rem;
    color: var(--main-color);
    margin-top: 8px;
}

.services-box h3 {
    font-size: 2.6rem;
}

.services-box p {
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
    padding-left: 10px;
    padding-right: 10px;
}


/******************************  PORTFOLIO SECTION ******************************/

.portfolio {
    background: var(--bg-color);
    /* height: 110vh; */
}

.portfolio h2 {
    margin-bottom: 4rem;
}


.link-click {
    display: flex;
    align-items: center;
    justify-content: center;
}


.portfolio-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* 3 equal columns */
    align-items: center;
    gap: 2.5rem
}

.portfolio-container .portfolio-box {
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
}

.portfolio-box img {
    width: 100%;
    transition: .5s ease;
    opacity: 0.7;
}

.portfolio-box:hover img {
    transform: scale(1.1);
}

.portfolio-box .portfolio-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.1), var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transform: .5s ease;
}

.portfolio-box:hover .portfolio-layer {
    transform: translateY(0);
}

.portfolio-layer h4 {
    font-size: 3rem;
}

.portfolio-layer p {
    font-size: 1.6rem;
    max-width: .3rem 0 1rem;
}

.portfolio-layer a {
    display: inline-flx;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;
}

.portfolio-layer a i {
    font-size: 2rem;
    color: var(--snd-bg-color);
}

/******************************  CONTACT SECTION ******************************/

.contact {
    background: var(--snd-bg-color);
}

.contact h2 {
    margin-bottom: 3rem;
}

.contact form {
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .input-box {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--bg-color);
    border-radius: .8rem;
    margin: .7rem 0;
}

.contact form .input-box input {
    width: 49%;
}

.contact form textarea {
    resize: none;
}

.contact form .btn {
    margin-top: 2rem;
    cursor: pointer;
}

/******************************  FOOTER SECTION ******************************/

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--bg-color);

}

.footer-text {
    font-size: 1.6rem;
}


.footer-iconTop {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem 1rem;
    background: var(--main-color);
    border-radius: .8rem;
    transition: .5s ease;
}

.footer iconTop a:hover {
    box-shadow: 0 0 1rem var(--main-color);
}

.footer-iconTop a i {
    font-size: 2.4rem;
    color: var(--snd-bg-color)
}


/* BREAKPOINT*/

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }

    .contact form .input-box input {
        width: 100%;
    }
}



@media (max-width: 620px) {
    html {
        font-size: 40%;
    }

    .about-img img {
        width: 50vh;
        margin-top: 4rem;
    }


}

@media (max-width: 991px) {
    .header {
        padding: 2rem 3%;
    }

    .section {
        padding: 10rem 3%;
    }

    .services {
        padding: 7rem;
    }


    .portfolio {
        padding-bottom: 7rem;
    }

    .contact {
        min-height: auto;
    }

    .footer {
        padding: 2rem 3%;
    }
}



@media (max-width: 768px) {
    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        display: none;
    }

    .navbar.active {
        display: block;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    .home {
        flex-direction: column;
        gap: 30rem;
        margin-left: 20px;
    }

    .home-content h3 {
        font-size: 2.6rem;

    }

    .home-content h1 {
        font-size: 5rem;
    }

    .home-content {
        order: 2;
    }

    .home-img img {
        width: 70vw;
        margin-top: 4rem;
    }

    .about {
        flex-direction: column;
    }

    .about-img img {
        width: 50vh;
        margin-top: 4rem;
    }

    .services h2 {
        margin-bottom: 3rem;
    }

    .portfolio h2 {
        margin-bottom: 3rem;
    }

    .portfolio-container {
        grid-template-columns: repeat(2, 1fr);
    }
}


@media (max-width: 617px) {
    .portfolio-container {
        grid-template-columns: 1fr;
    }

    .home-img img {
        width: 80vw;
        margin-top: 8rem;
    }

    .about-img img {
        width: 100vw;
        margin-top: 4rem;
    }
}



@media (max-width: 1200px) {
    html {
        font-size: 40%;
    }

    .home {
        gap: 8rem;
        margin-left: 100px;
    }



}



@media (max-width: 1285px) {

    .about-img img {
        width: 40vh;
        margin-top: 4rem;
    }
}